// Variables are useful for a single argument that is reused more than once.
$blue: #7575FF;
$green: #57FF57;
$red: #FF8767;
$border: 5px solid $blue;
$font: "Verdana", "Arial", sans-serif;

body {
  border: $border;
}

// Imports keep code modularized
@import 'contact';
@import 'products';
