// Variables are useful for a single argument that is reused more than once.
$primary: #454955;
$secondary: #3F7D20;
$tertiary: #72B01D;
$black: #0D0A0B;
$white: #F3EFF5;
$border: 5px solid $tertiary;
$font: "Arial", sans-serif;

// mixins are for longer chunks of code that will be reused
@mixin flex {
  display: flex;
  justify-content: center;
}

body {
  margin: 0;
  padding: 0;
  background-color: $white;
  font-family: $font;
}

li {
  list-style: none;
}

// Imports keep code modularized
@import 'navbar';
@import 'contact';
@import 'products';
